/*
 * Copyright (c) 2013, Yahoo! Inc. All rights reserved.
 * Copyrights licensed under the New BSD License.
 * See the accompanying LICENSE file for terms.
 */

ypurple = rgba(64,0,144,.9);
ypurpleHover = rgba(64,0,144,1);
availColor = #84d641;
busyColor = #84d641;
idleColor = #84d641;
offlineColor = #bbb;
mobileColor = #fff;
